			#share-area{
				width: 100%;
				background-color: aliceblue;
				text-align: center;
				padding: 15px;
			}
			#share-btn{
				color:#1d242a;
			}
			#share-icons{
				display: none;
				width: 100%;
			}
			#share-li{
				float: left;
				width: 3%;
				margin-left: 14.1%;
			}
			@media screen and (max-width: 1000px) {
				#share-li{
					float: left;
					width: 4%;
					margin-left: 13.3%;
				}
			}
			@media screen and (max-width: 700px) {
				#share-li{
					float: left;
					width: 5%;
					margin-left: 12.5%;
				}
			}
			@media screen and (max-width: 500px) {
				#share-li{
					float: left;
					width: 7%;
					margin-left: 10.8%;
				}
			}